@mixin border-radius-small {
  border-radius: 10px;
}

@mixin border-radius-large {
  border-radius: 20px;
}

$mud: #ccc1a7;
$sand: #f1e9d5;
$wet_sand: #eae5cd;

$sky: $header_background; //#68c6b9 Topic header background
$water: $quaternary; //#00a791 category buttons background

$night: #015562; //#015562 big main buttons like Topic button
$dark_night: #00333d;

$gold: #fcca46;
$light_gold: #fdde89;
