@mixin border-radius-small {
  border-radius: 10px;
}

@mixin border-radius-large {
  border-radius: 20px;
}

$mud: #ccc1a7;
$sand: #f1e9d5;
$wet_sand: #eae5cd;

$sky: $header_background; //#68c6b9 Topic header background $header_background
$water: $quaternary; //#00a791 category buttons background $quaternary

$night: $selected; //#015562 big main buttons like Topic button
$dark_night: darken($selected, 15%); //#00333d

$gold: $highlight; // #fcca46 check if I can modify this
$light_gold: lighten($highlight, 15%);  // #fdde89 
